<h1>User info</h1>
<%= form_for(@user, url: user_path) do |f| %>
<h4>name</h4>
<%= f.text_field :name, autofocus: true %>
<h4>Image</h4>
<%= f.attachment_field :profile_image, placeholder:"プロフィール画像"%>
<h4>Introduction</h4>
<%= f.text_field :introduction, autofocus: true %>
<%= f.submit 'Update User' %>
<% end %>