<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <%= render 'books/list' %>
    </div>
    <div class="col-xs-9">
      <h1>Books</h1>
        <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <% @books.each do |book| %>
        <tbody>
        <tr>
          <td><%= attachment_image_tag book.user, :profile_image, :fill, 70, 70, format: 'jpeg', fallback: "no_image.jpg" %></td>
          <td><%= link_to(book.title, book_path(book)) %></td>
          <td><%= book.body %></td>
          <td>コメント数:<%= book.post_comments.count %></td>
        </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
