  <% if @book.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
        <%= @book.errors.count %>errors prohibited this obj from being saved:<br>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <div>
  <% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <%= render 'books/list' %>
    </div>
      <div class="col-xs-9">
        <h1>Books</h1>
          <table class="table">
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
            </tr>
            <% @books.each do |book| %>
            <tr>
            <!-- 現在のユーザーだけ写真が小さくならない -->
              <td><%= attachment_image_tag book.user, :profile_image, :fill, 70, 70, format: 'jpeg', fallback: "no_image.jpg" %></td>
              <td><%= link_to(book.title, book_path(book)) %></td>
              <td><%= book.body %></td>
            </tr>
            <% end %>
          </table>
        </div>
    </div>
  </div>
