  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <%= render 'books/list'%>
      </div>
      <div class="col-xs-9">
        <h1>Book detail</h1>
        <table class="table">
          <thead>
            <tr>
              <td>
                <%= attachment_image_tag @books.user, :profile_image, :fill, 70, 70, format: 'jpeg', fallback: "no_image.jpg" %><br>
                <%= link_to(@books.user.name, user_path(@user))%>
              </td>
              <td><%= link_to(@books.title,book_path(@books)) %></td>
              <td><%= @books.body %></td>
              <td>コメント数:<%= @books.post_comments.count %></td>
              <% if @books.user.id == current_user.id %>
              <td><%= link_to 'Edit', edit_book_path(@books) %></td>
              <td><%= link_to 'Destroy', book_path(@books), method: :delete, "data-confirm" => "Are you sure？" %></td>
              <% end %>
            </tr>
          </thead>
        </table>
          <table>
            <% @books.post_comments.each do |post_comment| %>
            <tr>
              <td><%= attachment_image_tag @books.user, :profile_image, :fill, 70, 70, format: 'jpeg', fallback: "no_image.jpg" %><br>
              <%= link_to(post_comment.user.name, user_path(@user))%>
              </td>
              <% if post_comment.user == current_user %>
              <td><%= link_to "Destroy", book_post_comment_path(post_comment.book, post_comment), method: :delete, class: "btn btn-danger pull-right" %></td>
            </tr>
              <% end %>
            <% end %>
          </table>
            <%= form_for [@books, @post_comment] do |f| %>
            <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
            <%= f.submit "送信", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>