<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="container">
        <nav>
          <span>Bookers</span>
        </nav>
        <nav>
          <ul>
          <% if user_signed_in? %>
            <li class="nav-list-item">
              <a class="glyphicon glyphicon-log-out" data-method="delete" href="/users/sign_out">logout</a>
            </li>
            <li class="nav-list-item">
              <a class="glyphicon glyphicon-book" href="/books">Books</a>
            <li class="nav-list-item">
              <a class="glyphicon glyphicon-user" href="/users">Users</a>
            </li>
            <li class="nav-list-item">
              <a class="glyphicon glyphicon-home" href="/users">Home</a>
            </li>
          </ul>
        </nav>
      <% else %>
       <nav>
        <ul>
          <li class="nav-list-item">
            <a class="glyphicon glyphicon-log-in" href="/users/sign_in">login</a>
          </li>
          <li class="nav-list-item">
            <a class="glyphicon glyphicon-edit" href="/users/sign_up">sign up</a>
          </li>
          <li class="nav-list-item">
            <a class="glyphicon glyphicon-link" href="/home/about">About</a>
          <li class="nav-list-item">
            <a class="glyphicon glyphicon-home" href="/">Home</a>
          </li>
        <% end %>
       </ul>
      </nav>
    </header>
    <%= yield %>
    <footer>
      <div class="footer">
        <a class="font-size1">CopyRight Infratop.inc</a>
      </div>
    </footer>
  </body>
</html>
